{% extends 'base.html.twig' %}

{% block title %}New Usuarios{% endblock %}

{% block body %}
    <h1>Crear nuevo Usuario</h1>

    {{ include('usuarios/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('usuarios_index') }}">volver a la lista</a>
{% endblock %}
